*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    width: 100vw;
    height: 312.5rem;
    overflow-x: hidden;
}

.wrapper{
    width: 100vw;
    height: 100vh;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    background-color: #000000;
    padding: 0rem 1.5rem;
    border-bottom: 0.125rem solid #FFC757;
    width: 100vw;
    position:fixed;
    top: 0;
    width: 100vw;
    position:fixed;
    top: 0;
}

.headerleft{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.dividerline{
    width: 0.125rem;
    height: 3.75rem;
    background-color: #FFC757;
    margin-right: 0rem;
}

.headerlinks{
    display: flex;
    align-items: center;
    color: #ffffff;
    gap: 2.25rem;
    font-size: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.multiplepageslink{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #ffffff;
    font-size: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.headerright{
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    /* margin-right: 1.5rem; */

    /* position: relative; */
    /* margin-right: 1.5rem; */

}

.secondaryCTA{
    color: #FFC757;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: -0.0156rem;
    background: none;
    border: 0.0625rem solid #FFC757;
    padding: 0.75rem 2.125rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 1.5rem;
}

.primaryCTA{
    color: #FFC757;
    font-size: 0.875rem;
    font-weight: 700;
    color: #FFC757;
    font-size: 0.875rem;
    font-weight: 700;
    color: #FFC757;
    font-size: 0.875rem;
    font-weight: 700;
    color: #FFC757;
    font-size: 0.875rem;
    font-weight: 700;
    color: #000000;
    font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: -0.0156rem;
    background: linear-gradient( to right, #FFCC69,#FDE5B6, #FFDD98 );
    padding: 0.75rem 1.875rem;
    border-radius: 24PX;
    margin-right: 1.5rem;
    margin-right: 1.5rem;
}

.headerhamburger{
    display: none;
}

/* Responsive section starts here  */

@media only screen and (max-width:80rem){
@media only screen and (max-width:80rem){
    .dividerline{
        display: none;
    }
    
    .headerlinks{
        display: none;
    }
    
    .multiplepageslink{
        display: none;
    }
    .headerhamburger{
        display: block;
        /* margin-left: 1.5rem; */
        margin-right: 1.5rem;
    }
    .headerright{
        padding-right: 0px;
    }
    /* .herovideo{
       max-height: 338px;
       display: flex;
       align-items: center;
       justify-content: center;
    } */
}


@media only screen and (max-width:35.5rem){
@media only screen and (max-width:35.5rem){
    .secondaryCTA{
    display: none;
    }
    .primaryCTA{
        color: #FFC757;
        font-size: 0.875rem;
        font-weight: 700;
        color: #FFC757;
        font-size: 0.875rem;
        font-weight: 700;
        color: #000000;
        font-size: 0.8125rem;
        font-weight: 700;
        letter-spacing: -0.0156rem;
        background: linear-gradient( to right, #FFCC69,#FDE5B6, #FFDD98 );
        padding: 0.75rem 1rem;
        border-radius: 24PX;
    }
    .header{
        padding-right: 24px;
        padding-left: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .primaryCTA{
        color: #FFC757;
        font-size: 0.875rem;
        font-weight: 700;
        color: #FFC757;
        font-size: 0.875rem;
        font-weight: 700;
        color: #000000;
        font-size: 0.8125rem;
        font-weight: 700;
        letter-spacing: -0.0156rem;
        background: linear-gradient( to right, #FFCC69,#FDE5B6, #FFDD98 );
        padding: 0.75rem 1rem;
        border-radius: 24PX;
    }
    .header{
        padding-right: 24px;
        padding-left: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}


/* Responsive section ends here  */

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    padding-bottom: 40PX;
    padding-right: 24px;
    padding-right: 24px;
    background-color: #000000;
}

.herogoldlogo{
    margin-top: 40px;
}

.herovideo{
    height: 515px;
}

.heroheader{
    font-size: 72px;
    font-weight: 400;
    letter-spacing: -2px;
    text-align: center;
    background: linear-gradient(to bottom , #FFCC69, #FDE5B6, #FFDD98);
    background-clip:text;
    color: transparent;
    width: auto;
    margin-top: 28px;
}

.herosupportingtext{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.25px;
    text-align: center;
    line-height: 28px;
    color: #ffffff;
    margin: 20px 0px;
}

.termsandlimitationinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size : 15px;
    font-weight: 400;
    letter-spacing: -0.1px;
    color: #919FA6;
    margin-bottom: 18px;
}

.herCTAcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.heroCTA{
    padding: 12px 36px;
    background: linear-gradient( to right, #FFCC69,#FDE5B6, #FFDD98 );
    border-radius: 24px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.1px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 24px; */
    /* margin: 0px 321px 24px 321px; */
    max-width: 158px;
    /* width: 158px; */
}


.freestockgiftcontainer{
    background: linear-gradient( 60deg, #00C205, #23e42a ,#C3F5C3 );
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.freestockgift{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: #000000;
    padding: 20px auto;
    /* background: linear-gradient(to 60deg, #00C205, #C3F5C3 ); */
}

.textonlycta{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: #000000;
    text-decoration: underline;
}